<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Real Complainers Link</title>
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/rcv.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/lightbox.css" />
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/parallax.js"></script>
  <script src="/javascripts/application.js"></script>
  <script src="/javascripts/prototype.js"></script>
  <script src="/javascripts/scriptaculous.js?load=effects,builder"></script>
  <script src="/javascripts/lightbox.js"></script>
  <link rel="icon" href="images/rcv_favicon.png" type="image/png">

</head>
<body> 
  <div id='top'>
  </div><!--top-->
  <div id='bar_1'>
  </div><!--bar_1-->
  <div id='bar_2'>
  </div><!--bar_2-->
    <div id='wrapper'>
      <div id='social'>
        <img src='/images/social_btns.png' usemap="#soc_links">
      </div><!--social-->
      <div class="soc_links">
        <map name="soc_links">
          <area shape="rect" coords="21,22,61,62" href="http://www.twitter.com/complainersvote" target="_blank" title="Real Complaints On Twitter" alt="twitter"/>
          <area shape='rect' coords="79,22,119,62" href="http://www.facebook.com/realcomplainersvote" target="_blank" title="Real Facebook Complainers" alt="facebook"/>
        </map>
      </div>
      <div id='megaphone'>
        <img src='/images/megaphone.png'>
      </div><!--megaphone-->
        <div id='lockup'>
          <a href="/"><img src='/images/RCV_lockup.png'></a>
        </div><!--lockup-->  
          <div id="menu_wrapper">
            <div id='button_1'>
             <a href="/">
                <img class="plain" src='/images/btns/home_btn_s.png' />
                <img class="hover" src='/images/btns/home_btn_sr.png' />
             </a>
            </div><!-- #button_1 -->
            <div id='button_1'>
             <a href="https://register.rockthevote.com/?partner=18607&source=embed-rtv234x60v1" class="floatbox" data-fb-options="width:618 height:max scrolling:yes">
                <img class="plain" src='/images/btns/register_btn_s.png' />
                <img class="hover" src='/images/btns/register_btn_sr.png' />
              </a>
              <script type="text/javascript" src="https://s3.amazonaws.com/ovr/widget_loader.js"></script>
             </a>
            </div><!-- #button_1 -->
            <div id='button_1'>
             <a href="/posters">
                <img class="plain" src='/images/btns/posters_btn_s.png' />
                <img class="hover" src='/images/btns/posters_btn_sr.png' />
             </a>
            </div><!-- #button_1 -->
            <div id='button_1'>
             <a href="/links">
                <img class="plain" src='/images/btns/links_btn_s.png' />
                <img class="hover" src='/images/btns/links_btn_sr.png' />
             </a>
            </div><!-- #button_1 -->
            <div id='button_1'>
             <a href="/about">
                <img class="plain" src='/images/btns/about_btn_s.png' />
                <img class="hover" src='/images/btns/about_btn_sr.png' />
             </a>
            </div><!-- #button_1 -->
     </div><!-- #menu_wrapper -->
        <div class='whitebackground'>
        </div><!-- .whitebackground -->       
          <div class="about_content">
            <div class="about">
              <div class='hr1'></hr></div>             
              <div class='hr2'></hr></div>
              <p class='pAbout_title'>
                WHO ARE THESE COMPLAINERS
              </p><!-- pAbout_title -->              
              <div class='hr1'></hr></div>             
              <div class='hr2'></hr></div>
                <p class='pAbout1'>
                Real Complainers Vote is a non-partisan effort to ensure that all Americans vote before they complain.
                We don’t care who or what you vote for, we just want you to do it. Or no complaining.
                </br>
                </br>
                And we’re here to spread that message from sea to whiney sea.
                </br>
                </br>
                We knew we couldn’t do it alone so we brought along some help.
                Thanks to our partners in complaining:
                </p><!--pAbout2 --> 
                <p class='pAbout2'>
                The exquisite art work and stencil skills of Ray Noland 
                </br>
                <a href='http://www.creativerescue.org/'>http://www.creativerescue.org/</a>
                </br>
                </br>
                The artful production and design of Foundation Content 
                </br>
                <a href='http://foundationcontent.com/'>http://foundationcontent.com/</a>
                </br>
                </br>
                The spectacular attention garnering genius of Third Street.
                <a href='http://www.takethirdstreet.com/'>http://www.takethirdstreet.com/</a>
                </br>
                </br>
                And countless others who helped make this a reality. 
                </p><!--pAbout2 --> 
                <p class ='pAbout1'> 
                If you really want to know what this is all about head to the <a href= '/'>homepage</a> and check out the video.
                </br>
                </br>
                And if you want to complain about an about page telling you</br> 
                what to do, that’s cool. Just vote first.
                </p><!--pAbout1 --> 
              <div class='hr2'></hr></div>
              <div class='hr1'></hr></div>
            </div><!-- about -->
          </div><!-- .about_content -->      
    </div><!-- #wrapper -->
</body>
</html>




<!--  border-style:solid; border-color:red; border-width:1px; --!>