<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Real Complainers Link</title>
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/rcv.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/lightbox.css" />
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/parallax.js"></script>
  <script src="/javascripts/application.js"></script>
  <script src="/javascripts/prototype.js"></script>
  <script src="/javascripts/scriptaculous.js?load=effects,builder"></script>
  <script src="/javascripts/lightbox.js"></script>
  <link rel="icon" href="images/rcv_favicon.png" type="image/png">

</head>
<body> 
    <div id='wrapper'>
      <div id='lockup'>
        <a href="/"><img src='/images/RCV_rayrev_s.png'></a>
      </div><!--lockup-->  
        <div id="menu_wrapper">
          <div id='button_1'>
           <a href="/">
              <img class="plain" src='/images/btns/home_btn_s.png' />
              <img class="hover" src='/images/btns/home_btn_sr.png' />
           </a>
          </div><!-- #button_1 -->
          <div id='button_1'>
           <a href="https://register.rockthevote.com/registrants/new?partner=1&source=rtv.com-topnavigation">
              <img class="plain" src='/images/btns/register_btn_s.png' />
              <img class="hover" src='/images/btns/register_btn_sr.png' />
           </a>
          </div><!-- #button_1 -->
          <div id='button_1'>
           <a href="/posters">
              <img class="plain" src='/images/btns/posters_btn_s.png' />
              <img class="hover" src='/images/btns/posters_btn_sr.png' />
           </a>
          </div><!-- #button_1 -->
          <div id='button_1'>
           <a href="/links">
              <img class="plain" src='/images/btns/links_btn_s.png' />
              <img class="hover" src='/images/btns/links_btn_sr.png' />
           </a>
          </div><!-- #button_1 -->
          <div id='button_1'>
           <a href="/reallife">
              <img class="plain" src='/images/btns/reallife_btn_s.png' />
              <img class="hover" src='/images/btns/reallife_btn_sr.png' />
           </a>
          </div><!-- #button_1 -->
          <div id='button_1'>
           <a href="/about">
              <img class="plain" src='/images/btns/about_btn_s.png' />
              <img class="hover" src='/images/btns/about_btn_sr.png' />
           </a>
          </div><!-- #button_1 -->
   </div><!-- #menu_wrapper -->
        <div class="content">
            <div class='about'> 
              <p class='p5'>All the great words about what we do are going to go here. It will be inspiring. People will cry. They will cheer They will read it to their children as they fall asleep at night, knowing as long as they vote, their children will grow up to bitch freely just like they do.</p>
            </div>   
        </div><!-- .content -->      
    </div><!-- #wrapper -->
</body>
</html>




<!--  border-style:solid; border-color:red; border-width:1px; --!>