<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Creative Name Company</title>
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/cnc.css" />
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/application.js"></script>
</head>
<body> 
  <div id= 'top_border'>
  </div><!-- #top_border -->
    <div id='wrapper'>
      <div id='banner'>
      <a href="/"><img src='/images/banner.png'></a>
      </div><!-- #banner -->
        <div id='sub_head'>
        <img src='/images/subhead_words.png'>
        </div><!-- #sub_head -->
        <div id='about_p'>
          We are a company that makes creative names 
          </br>
          for other companies.
          </br>
          </br>
          We believe in our name generating algorithm so much 
          </br>
          that we used it to create our own name.
        </div><!-- about_p -->
      <div class='navigation'>
        <a href="/"><p class='p2'>GET A NAME</p></a>
        <a href="/gallery"><p class='p2'>NAME GALLERY</p></a>
        <a href="/about"><p class='p2'>ABOUT US</p></a>
      </div><!-- #navigation -->
    </div><!-- #wrapper -->
  <div id='bottom_border'></div><!-- #bottom_border -->
</body>
</html>




<!--  border-style:solid; border-color:red; border-width:1px; --!>