<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Real Complainers Link</title>
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/rcv.css" />
  <link href="css/lightbox.css" rel="stylesheet" />
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/parallax.js"></script>
  <script src="/javascripts/application.js"></script>
  <script type="text/javascript" src="http://use.typekit.com/mdm0ura.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="icon" href="images/rcv_favicon.png" type="image/png">
</head>
<body> 
    <div id='wrapper'>
        <div id='lockup'>
          <a href="/"><img src='/images/RCV_rayrev_s.png'></a>
        </div><!--lockup-->  
          <div id="menu_wrapper">
            <div id='button_1'>
             <a href="/">
                <img class="plain" src='/images/btns/home_btn_s.png' />
                <img class="hover" src='/images/btns/home_btn_sr.png' />
             </a>
            </div><!-- #button_1 -->
            <div id='button_1'>
             <a href="https://register.rockthevote.com/registrants/new?partner=1&source=rtv.com-topnavigation">
                <img class="plain" src='/images/btns/register_btn_s.png' />
                <img class="hover" src='/images/btns/register_btn_sr.png' />
             </a>
            </div><!-- #button_1 -->
            <div id='button_1'>
             <a href="/posters">
                <img class="plain" src='/images/btns/posters_btn_s.png' />
                <img class="hover" src='/images/btns/posters_btn_sr.png' />
             </a>
            </div><!-- #button_1 -->
            <div id='button_1'>
             <a href="/links">
                <img class="plain" src='/images/btns/links_btn_s.png' />
                <img class="hover" src='/images/btns/links_btn_sr.png' />
             </a>
            </div><!-- #button_1 -->
            <div id='button_1'>
             <a href="/reallife">
                <img class="plain" src='/images/btns/reallife_btn_s.png' />
                <img class="hover" src='/images/btns/reallife_btn_sr.png' />
             </a>
            </div><!-- #button_1 -->
            <div id='button_1'>
             <a href="/about">
                <img class="plain" src='/images/btns/about_btn_s.png' />
                <img class="hover" src='/images/btns/about_btn_sr.png' />
             </a>
            </div><!-- #button_1 -->
     </div><!-- #menu_wrapper -->
  <div class="content">
    <div id='youtube'>
      <div id = 'youtube_border'>
        <iframe width="640" height="385" src="http://www.youtube.com/embed/6KBo7vzrHGY" frameborder="0" allowfullscreen></iframe>
      </div><!-- #youtube_border -->
    </div><!-- #youtube -->
      <div id = "twitter"> 
        <div id = "twitter_border"> 
          <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
              new TWTR.Widget({
                version: 2,
                type: 'profile',
                rpp: 4,
                interval: 30000,
                width: 250,
                height: 300,
                theme: {
                  shell: {
                    background: '#003366',
                    color: '#ffffff'
                  },
                  tweets: {
                    background: '#ffffff',
                    color: '#7d0000',
                    links: '#000000'
                  }
                },
                features: {
                  scrollbar: true,
                  loop: false,
                  live: false,
                  behavior: 'all'
                }
              }).render().setUser('@adlandjones').start();
            </script>
           </div><!-- #twitter_border -->
          </div><!-- #twitter -->
       </div><!-- #content -->
   </div><!-- #wrapper -->
  </body>
</html>




<!--  border-style:solid; border-color:red; border-width:1px; --!>