<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Creative Name Company</title>
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/cnc.css" />
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/application.js"></script>
</head>
<body> 
  <div id= 'top_border'>
  </div><!-- #top_border -->
  <div id="gif">
    <img src='/images/loading.gif'>
  </div>
    <div id='wrapper'>
      <div id='banner'>
      <a href="/"><img src='/images/banner.png'></a>
      </div><!-- #banner -->
        <div id='sub_head'>
        <img src='/images/subhead_words.png'>
        </div><!-- #sub_head -->
        <div class='entry'>
          <div class='headline'><img src='/images/our_company.png'></div>
            <form class='area' action="/" method='post'><input type="text" class='text' align="middle" placeholder="Type a few words about what you do" autocomplete="off" maxlength="80" name="name"/></form><div class='arrow'><img src='/images/entry_arrow.png'></div>
                <div class='instructions'><p class='p1'>PRESS ENTER WHEN YOU'RE DONE</p></div>
                  </div><!-- #entry -->  
      <div class='navigation'>
        <a href="/"><p class='p2'>NEW NAME</p></a>
        <a href="/gallery"><p class='p2'>OUR WORK</p></a>
        <a href="/about"><p class='p2'>ABOUT US</p></a>
      </div><!-- #navigation -->
    </div><!-- #wrapper -->
  <div id='bottom_border'></div><!-- #bottom_border -->
</body>
</html>




<!--  border-style:solid; border-color:red; border-width:1px; --!>