<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Real Complainers Link</title>
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/rcv.css" />
  <link href="css/lightbox.css" rel="stylesheet" />
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/parallax.js"></script>
  <script src="/javascripts/application.js"></script>
  <script type="text/javascript" src="http://use.typekit.com/mdm0ura.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="icon" href="images/rcv_favicon.png" type="image/png">
</head>
<body> 
    <div id='wrapper'>
      <div id='banner'>
        <div id='banner_copy_l'>
        <p class = 'p4_1'>
          RED OR BLUE. LEFT OR RIGHT.</br>
          CONSERVATIVE OR LIBERAL.</br>
          AMERICAN OR AMERCIAN.
        </p>
      </div><!-- #banner_copy -->
        <div id='lockup'>
          <a href="/"><img src='/images/RCV_LockUp_Header.png'></a>
        </div><!--lockup-->  
          <div id='banner_copy_r'>
          <p class = 'p4_2'>
            NO MATTER WHAT YOU THINK, </br> 
            THE REAL COMPLAINING CAN'T </br>
            START UNTIL YOU VOTE.
          </p>
        </div><!-- #banner_copy -->
      </div><!--banner-->
          <div id="menu_wrapper">
            <div id='button_1'>
              <a class = 'btn' href="/"></a>
            </div><!-- #button_1 -->
              <div id='button_2'>
                <a class = 'btn' href="https://register.rockthevote.com/registrants/new?partner=1&source=rtv.com-topnavigation"><p class='p2'>Get Registered</p></a>
              </div><!-- #button_2 -->
                <div id='button_3'>
                  <a class = 'btn' href="/posters"></a>
                </div><!-- #button_3 -->
                  <div id='button_4'>
                    <a class = 'btn' href="/links"></a>
                  </div><!-- #button_4 -->
                    <div id='button_5'>
                      <a class = 'btn' href="/stickers"></a>
                    </div><!-- #button_5 -->
                      <div id='button_6'>
                        <a class = 'btn' href="/about"></a>
                      </div><!-- #button_5 -->
     </div><!-- #menu_wrapper -->
  <div class="content">
    <div id='youtube'>
      <div id = 'youtube_border'>
        <iframe width="480" height="295" src="http://www.youtube.com/embed/6KBo7vzrHGY" frameborder="0" allowfullscreen></iframe>
      </div><!-- #youtube_border -->
    </div><!-- #youtube -->
      <div id = "twitter"> 
        <div id = "twitter_border"> 
          <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
              new TWTR.Widget({
                version: 2,
                type: 'profile',
                rpp: 4,
                interval: 30000,
                width: 250,
                height: 300,
                theme: {
                  shell: {
                    background: '#003366',
                    color: '#ffffff'
                  },
                  tweets: {
                    background: '#ffffff',
                    color: '#7d0000',
                    links: '#000000'
                  }
                },
                features: {
                  scrollbar: true,
                  loop: false,
                  live: false,
                  behavior: 'all'
                }
              }).render().setUser('@adlandjones').start();
            </script>
           </div><!-- #twitter_border -->
          </div><!-- #twitter -->
       </div><!-- #content -->
   </div><!-- #wrapper -->
  </body>
</html>




<!--  border-style:solid; border-color:red; border-width:1px; --!>