<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>About</title>
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/cnc.css" />
</head>
<body> 
  <div id= 'top_border'>
  </div><!-- #top_border -->
    <div id='wrapper'>
      <div id='banner'>
      <img src='/images/banner.png'>
      </div><!-- #banner -->
        <div id='sub_head'>
        <img src='/images/subhead_words.png'>
        </div><!-- #sub_head -->
        <div class='new_name'>
          <%>yield<%>
        </div><!-- #new_name -->
      <div class='navigation'>
        <p class='p1'>GET A NAME</p>
        <p class='p1'>NAME GALLERY</p>
        <p class='p1'>ABOUT US</p>
      </div><!-- #navigation -->
    </div><!-- #wrapper -->
  <div id='bottom_border'></div><!-- #bottom_border -->
</body>
</html>




<!--  border-style:solid; border-color:red; border-width:1px; --!>