<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Real Complainers Link</title>
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/rcv.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/lightbox.css" />
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/parallax.js"></script>
  <script src="/javascripts/application.js"></script>
  <script src="/javascripts/prototype.js"></script>
  <script src="/javascripts/scriptaculous.js?load=effects,builder"></script>
  <script src="/javascripts/lightbox.js"></script>
  <link rel="icon" href="images/rcv_favicon.png" type="image/png">

</head>
<body> 
  
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  
  
  <div id='top'>
  </div><!--top-->
  <div id='bar_1'>
  </div><!--bar_1-->
  <div id='bar_2'>
  </div><!--bar_2-->
    <div id='wrapper'>
      <div id='social'>
        <img src='/images/social_btns.png' usemap="#soc_links">
      </div><!--social-->
      <div class="soc_links">
        <map name="soc_links">
          <area shape="rect" coords="21,22,61,62" href="http://www.twitter.com/complainersvote" title="Real Complaints On Twitter" alt="twitter"/>
          <area shape='rect' coords="79,22,119,62" href="http://www.facebook.com/realcomplainersvote" title="Real Facebook Complainers" alt="facebook"/>
        </map>
      </div>
      <div id='megaphone'>
        <img src='/images/megaphone.png'>
      </div><!--megaphone-->
        <div id='lockup'>
          <a href="/"><img src='/images/RCV_lockup.png'></a>
        </div><!--lockup-->  
          <div id="menu_wrapper">
            <div id='button_1'>
             <a href="/">
                <img class="plain" src='/images/btns/home_btn_s.png' />
                <img class="hover" src='/images/btns/home_btn_sr.png' />
             </a>
            </div><!-- #button_1 -->
            <div id='button_1'>
             <a href="https://register.rockthevote.com/?partner=18607&source=embed-rtv234x60v1" class="floatbox" data-fb-options="width:618 height:max scrolling:yes">
                <img class="plain" src='/images/btns/register_btn_s.png' />
                <img class="hover" src='/images/btns/register_btn_sr.png' />
              </a>
              <script type="text/javascript" src="https://s3.amazonaws.com/ovr/widget_loader.js"></script>
             </a>
            </div><!-- #button_1 -->
            <div id='button_1'>
             <a href="/posters">
                <img class="plain" src='/images/btns/posters_btn_s.png' />
                <img class="hover" src='/images/btns/posters_btn_sr.png' />
             </a>
            </div><!-- #button_1 -->
            <div id='button_1'>
             <a href="/links">
                <img class="plain" src='/images/btns/links_btn_s.png' />
                <img class="hover" src='/images/btns/links_btn_sr.png' />
             </a>
            </div><!-- #button_1 -->
            <div id='button_1'>
             <a href="/about">
                <img class="plain" src='/images/btns/about_btn_s.png' />
                <img class="hover" src='/images/btns/about_btn_sr.png' />
             </a>
            </div><!-- #button_1 -->
     </div><!-- #menu_wrapper -->
        <div class='linker_content'>
          <div class="link_content">
            <div class="all_links">
            <div class='link'><a href="https://register.rockthevote.com/registrants/new?partner=1&source=rtv.com-topnavigation"><p class='p1'>Register To Vote Through Rock The Vote.</p></a></div>
            <div class='link'><a href="http://en.wikipedia.org/wiki/United_States_presidential_election#Electoral_college_results"><p class='p1'>Look Back at Previous Election Results</p></a></div>
            <div class='link'><a href="http://www.infoplease.com/ipa/A0781453.html"><p class='p1'>How Voters Turned Out In the Past.</p></a></div>
            <div class='link'><a href="http://www.politico.com/2012-election/map/#/President/2012/Primary/"><p class='p1'>Follow The Results Of The Election.</p></a></div>
            <div class='link'><a href="https://www.bbb.org/consumer-complaints/file-a-complaint/get-started"><p class='p1'>Complain About A Business (After Voting).</p></a></div>
            <div class='link'><a href="https://writerep.house.gov/writerep/welcome.shtml"><p class='p1'>Find and Complain To Your Congressmen.</p></a></div>
            <div class='link'><a href="http://www.yelp.com"><p class='p1'>Complain About A Bad Meal.</p></a></div>
            <div class='link'><a href="http://www.politifact.com/"><p class='p1'>Check The Facts.</p></a></div>
          </div><!-- all_links -->
        </div><!-- .link_content -->
      </div><!-- .content -->       
    </div><!-- #wrapper -->
</body>
</html>




<!--  border-style:solid; border-color:red; border-width:1px; --!>