<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Real Complainers Link</title>
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/rcv.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/lightbox.css" />
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/parallax.js"></script>
  <script src="/javascripts/application.js"></script>
  <script src="/javascripts/prototype.js"></script>
  <script src="/javascripts/scriptaculous.js?load=effects,builder"></script>
  <script src="/javascripts/lightbox.js"></script>
  <link rel="icon" href="images/rcv_favicon.png" type="image/png">

</head>
<body> 
    <div id='wrapper'>
      <div id='banner'>
        <div id='banner_copy_l'>
        <p class = 'p4_1'>
          RED OR BLUE. LEFT OR RIGHT.</br>
          CONSERVATIVE OR LIBERAL.</br>
          AMERICAN OR AMERCIAN.
        </p>
      </div><!-- #banner_copy -->
        <div id='lockup'>
          <a href="/"><img src='/images/RCV_LockUp_Header.png'></a>
        </div><!--lockup-->  
          <div id='banner_copy_r'>
          <p class = 'p4_2'>
            NO MATTER WHAT YOU THINK, </br> 
            THE REAL COMPLAINING CAN'T </br>
            START UNTIL YOU VOTE.
          </p>
        </div><!-- #banner_copy -->
      </div><!--banner-->
          <div id="menu_wrapper">
            <div id='button_1'>
              <a class = 'btn' href="/"><p class='p2'>Home</p></a>
            </div><!-- #button_1 -->
              <div id='button_2'>
                <a class = 'btn' href="https://register.rockthevote.com/registrants/new?partner=1&source=rtv.com-topnavigation"><p class='p2'>Get Registered</p></a>
              </div><!-- #button_2 -->
                <div id='button_3'>
                  <a class = 'btn' href="/posters"><p class='p2'>Posters</p></a>
                </div><!-- #button_3 -->
                  <div id='button_4'>
                    <a class = 'btn' href="/links"><p class='p2'>Helpful Links</p></a>
                  </div><!-- #button_4 -->
                    <div id='button_5'>
                      <a class = 'btn' href="/about"><p class='p2'>About Us</p></a>
                    </div><!-- #button_5 -->
     </div><!-- #menu_wrapper -->
        <div class='content'>
          <div class="outgoing">
            <a class='link' href="https://register.rockthevote.com/registrants/new?partner=1&source=rtv.com-topnavigation"><p class='p1'>Register To Vote Through Rock The Vote.</p></a>
            <a class='link' href="http://en.wikipedia.org/wiki/United_States_presidential_election#Electoral_college_results"><p class='p1'>Look Back at Previous Election Results</p></a>
            <a class='link' href="http://www.infoplease.com/ipa/A0781453.html"><p class='p1'>How Voters Have Turned Out In the Past.</p></a>
            <a class='link' href="http://www.politico.com/2012-election/map/#/President/2012/Primary/"><p class='p1'>Follow The Results Of The Election State-By-State.</p></a>
            <a class='link' href="https://www.bbb.org/consumer-complaints/file-a-complaint/get-started"><p class='p1'>Complain About A Business (After Voting Course).</p></a>
            <a class='link' href="https://writerep.house.gov/writerep/welcome.shtml"><p class='p1'>Find and Complain To Your Local Congressmen.</p></a>
            <a class='link' href="http://www.yelp.com"><p class='p1'>Complain About A Bad Meal You Had.</p></a>
            <a class='link' href="http://www.politifact.com/"><p class='p1'>Check The Facts.</p></a>
        </div><!-- .outgoing -->
      </div><!-- .content -->       
    </div><!-- #wrapper -->
</body>
</html>




<!--  border-style:solid; border-color:red; border-width:1px; --!>