<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="One nation of complainers, founded by malcontents, indivisible, with bitching and bellyaching for all.">
  <meta name="author" content="Real Complainers">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Real Complainers Links</title>
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/rcv.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/lightbox.css" />
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/parallax.js"></script>
  <script src="/javascripts/application.js"></script>
  <script src="/javascripts/prototype.js"></script>
  <script src="/javascripts/scriptaculous.js?load=effects,builder"></script>
  <script src="/javascripts/lightbox.js"></script>
  <link rel="icon" href="images/rcv_favicon.png" type="image/png">

</head>
<body> 
  
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  
  
  <div id='top'>
  </div><!--top-->
  <div id='bar_1'>
  </div><!--bar_1-->
  <div id='bar_2'>
  </div><!--bar_2-->
    <div id='wrapper'>
      <div id='social'>
        <img src='/images/social_btns.png' usemap="#soc_links">
      </div><!--social-->
      <div class="soc_links">
        <map name="soc_links">
          <area shape="rect" coords="21,22,61,62" href="http://www.twitter.com/complainersvote" target="_blank" title="Real Complaints On Twitter" alt="twitter"/>
          <area shape='rect' coords="79,22,119,62" href="http://www.facebook.com/realcomplainersvote" target="_blank" title="Real Facebook Complainers" alt="facebook"/>
        </map>
      </div>
      <div id='megaphone'>
        <img src='/images/megaphone.png'>
      </div><!--megaphone-->
        <div id='lockup'>
          <a href="/"><img src='/images/RCV_lockup.png'></a>
        </div><!--lockup-->  
          <div id="menu_wrapper">
            <div id='button_1'>
             <a href="/">
                <img class="plain" src='/images/btns/home_btn_s.png' />
                <img class="hover" src='/images/btns/home_btn_sr.png' />
             </a>
            </div><!-- #button_1 -->
            <div id='button_1'>
             <a href="https://register.rockthevote.com/?partner=18607&source=embed-rtv234x60v1" class="floatbox" data-fb-options="width:618 height:max scrolling:yes">
                <img class="plain" src='/images/btns/register_btn_s.png' />
                <img class="hover" src='/images/btns/register_btn_sr.png' />
              </a>
              <script type="text/javascript" src="https://s3.amazonaws.com/ovr/widget_loader.js"></script>
             </a>
            </div><!-- #button_1 -->
            <div id='button_1'>
             <a href="/posters">
                <img class="plain" src='/images/btns/posters_btn_s.png' />
                <img class="hover" src='/images/btns/posters_btn_sr.png' />
             </a>
            </div><!-- #button_1 -->
            <div id='button_1'>
             <a href="/links">
                <img class="plain" src='/images/btns/links_btn_s.png' />
                <img class="hover" src='/images/btns/links_btn_sr.png' />
             </a>
            </div><!-- #button_1 -->
            <div id='button_1'>
             <a href="/about">
                <img class="plain" src='/images/btns/about_btn_s.png' />
                <img class="hover" src='/images/btns/about_btn_sr.png' />
             </a>
            </div><!-- #button_1 -->


     </div><!-- #menu_wrapper -->
        <div class='whitebackground'>
        </div><!-- .whitebackground -->       
          <div class="link_content">
            <div class='hr1'></hr></div>             
            <div class='hr2'></hr></div>
            <p class='plink_title'>
              GET INFORMED
            </p><!-- pAbout_title -->              
            <div class='hr2'></hr></div>
            <div class='hr1'></hr></div>
            </br>                
              <div class="all_links">
                <div class='link'><a href="http://www.politico.com/2012-election/map/#/President/2012/Primary/" target="_blank"><p class='p1'>CURRENT ELECTION RESULTS</p></a><div class='arrow'><img src='/images/link_arrow.png'/></div></div>
                <div class='link'><a href="http://www.politifact.com/" target="_blank"><p class='p1'>CHECK THE FACTS</p></a><div class='arrow'><img src='/images/link_arrow.png'/></div></div>
                <div class='link'><a href="http://en.wikipedia.org/wiki/United_States_presidential_election#Electoral_college_results " target="_blank"><p class='p1'>PREVIOUS ELECTION RESULTS</p></a><div class='arrow'><img src='/images/link_arrow.png'/></div></div>
                <div class='link'><a href="http://www.infoplease.com/ipa/A0781453.html" target="_blank"><p class='p1'>PREVIOUS VOTER TURNOUT</p></a><div class='arrow'><img src='/images/link_arrow.png'/></div></div>
                </br>                
                </br>
                </br>                                
                <div class='hr1'></hr></div>             
                <div class='hr2'></hr></div>
                <p class='plink_title'>
                  GET TO COMPLAINING
                </p><!-- pAbout_title -->              
                <div class='hr2'></hr></div>
                <div class='hr1'></hr></div>
                </br>
                <div class='link'><a href="https://writerep.house.gov/writerep/welcome.shtml" target="_blank"><p class='p1'>COMPLAIN TO YOUR CONGRESSMAN</p></a><div class='arrow'><img src='/images/link_arrow.png'/></div></div>          
                <div class='link'><a href="https://www.bbb.org/consumer-complaints/file-a-complaint/get-started" target="_blank"><p class='p1'>COMPLAIN ABOUT A BUSINESS</p></a><div class='arrow'><img src='/images/link_arrow.png'/></div></div>
                <div class='link'><a href="http://www.yelp.com" target="_blank"><p class='p1'>COMPLAIN ABOUT A BAD MEAL</p></a><div class='arrow'><img src='/images/link_arrow.png'/></div></div>
            </div><!-- .all_links -->
        </div><!-- .link_content -->
    </div><!-- #wrapper -->

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34997364-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>


</body>
</html>




<!--  border-style:solid; border-color:red; border-width:1px; --!>