body{background-image: url('/images/background.png');}
a {text-decoration: none;}

/*This is the code for index*/
#top_border {background-image: url('/images/border_line.png'); background-repeat:x; margin:30px auto 0px auto; height:1px; width:100%;}
#bottom_border {background-image: url('/images/border_line.png'); background-repeat:x; margin:60px auto 30px auto; height:1px; width:100%;}
#wrapper {width:800px;margin: 0px auto 0px auto;}
#banner {width:800px; text-align: center; margin: 100px auto 0px auto;}
#sub_head {text-align:center; background-image: url('/images/subhead_box.png'); background-repeat:no-repeat; background-position:center; margin: 16px auto 0px auto; padding:5px 0px 3px 1px }
.entry {margin: 140px 0px 0px 105px; height:350px; width:600px;}
.entry .headline{float:left;}
.entry .subhead{width:180px; padding: 0px 0px 0px 12px; float:left;}
.entry .instructions{margin:1px 0px 0px 161px; float:left;}
.entry .arrow{padding:7px 0px 0px 3px;}
.navigation{padding: 18px 0px 0px 0px; background-image: url('/images/bottom_bar.png'); background-repeat:no-repeat; background-position:center; height:30px; text-align:center;}
.p1 {font: 10px Arial Narrow; color:#B0B0B0; display:inline; letter-spacing: .77px;}
.p2 {font: 10px Arial Narrow; color:#B0B0B0; display:inline; padding: 0px 15px 0px 15px; margin: 0px 5px 0px 0px; letter-spacing: .65px;}



/*This is the code for how-to*/













/*This is the code for red border: border-style:solid; border-color:red; border-width:1px;*/