body{background-image: url('/images/background.png');}
a {
	text-decoration:none;
	font: 14px Arial Narrow; 
	color:	white;
}

/*This is the code for index*/

#top_border {
	background-image: url('/images/border_line.png'); 
	background-repeat:x; 
	margin:30px auto 0px auto; 
	height:1px; 
	width:100%;
}

#bottom_border {
	background-image: url('/images/border_line.png'); 
	background-repeat:x; 
	margin:60px auto 30px auto; 
	height:1px; 
	width:100%;
}

#wrapper {
	margin: 0px auto 0px auto;
	min-width:800px; 
}

#banner { 
	text-align: center; 
	margin: 100px auto 0px auto;
}

#sub_head {
	text-align:center; 
	margin: 16px auto 0px auto; 
	padding:3px 2px 0px 2px;
	width:264px;
	border-style:dashed; 
	border-color:	#B8B8B8; 
	border-width:1px;
}


.entry {
	margin:90px auto 0px auto; 
	height:300px; width:600px;
}

.entry .headline{
	margin:39px 0px 0px 0px;
	display:inline-block;
}

.entry .area{ 
	vertical-align: top;
	margin:40px 0px 0px 15px;
	display:inline-block; 
	padding: 0px 0px 0px 0px;
}

.entry .area .text {
	width: 265px;
	height: 23px;
	font: 13px Arial Narrow; 
	color:	#707070 ;
	padding: 0px 0px 2px 7px;
	border: none;
	opacity:.90;
	letter-spacing: 2px;
}


.entry .instructions{
	display:inline-block;
	margin:8px 0px 0px 174px; 
	opacity:.5;
}

.entry .arrow{
	position:relative;
	top:19px; 
	left: 4px;
	display:inline-block;
	opacity:.5;
}

.navigation{
	padding: 20px 0px 0px 0px; 
	background-image: url('/images/bottom_bar.png'); 
	background-repeat:no-repeat; 
	background-position:center; 
	height:30px; 
	text-align:center;
}

.p1 {
	font:10px Arial Narrow; 
	color:#B0B0B0;  
	letter-spacing: 4px;
	opacity:.6;
}

.p2 {
	font: 10px Arial Narrow; 
	color:#B0B0B0; 
	display:inline; 
	margin: 0px 22px 0px 22px; 
	letter-spacing: 1px;
}



/*This is the code for name*/
#new_name {
  text-align:center;
	margin:100px 0px 0px 0px;

}

#result_nav {
	margin: 270px 0px 0px 0px; 
	padding: 18px 0px 0px 0px; 
	background-image: url('/images/bottom_bar.png'); 
	background-repeat:no-repeat; background-position:center; 
	height:30px; 
	text-align:center;
}

#wrapper_result {
	text-align:center;
	margin: 25px auto 0px auto;
	white-space:nowrap;
}

#result_banner_l {
	display:inline;
}

#result_name {
	vertical-align: top;
	display:inline-block;
	background-image: url('/images/result_banner_back.png');
	background-repeat:repeat-x;
	font: 30px Arial Narrow; 
	color: #F8F8F8;
	padding:12px 5px 40px 5px;
	white-space:nowrap;
}


#result_banner_r {
	display:inline;
}


/*This is the code for how-to*/
#about_p {
	min-width:600px;
	font: 14px Arial Narrow; 
	color:	white;
	margin:60px auto 70px auto;
	text-align:center;
	opacity:.70;
	white-space:nowrap;
	letter-spacing:1.5px;
}

#about_border {
	margin: 0px auto;
	width:250px;
	border: dotted;
	padding:5px 8px 11px 8px;
	border-color:white;
	text-align:left;
}

#gif {
	height: 500px;
	text-align:center;
	margin:100px auto 0px auto;
	background-image: url('/images/loading.gif');
	background-repeat:no-repeat;
	background-position:center;
	color: white;
	display:none;
}

/*This is the code for red border: 
border-style:solid; 
border-color:red; 
border-width:1px;