html {
	height: 100%;
}

body {
background: url('/images/white_wall.png');
height: 100%;
}


#wrapper {
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	max-width:1130px;
	min-width:1000px;
	min-height:100%;
}

#banner { 
	margin: 0px auto 0px auto;
	display:inline-block;
	width:1100px;
}

#lockup{
	display:inline-block;
	padding:10px 7px 0px 7px;
	opacity:.95;
}

#banner_copy_l { 
	vertical-align: top;
	padding: 6px 0px 0px 95px;
	display:inline-block;
	opacity:.70;
}

#banner_copy_r { 
	vertical-align: top;
	padding: 6px 0px 0px 0px;
	display:inline-block;
	opacity:.70;
}


.title {
	margin:0px 0px 0px 284px;
}

#menu_wrapper {
	text-align:right;
	position:absolute;
	top:345px;
	width:220px; 

}


a {
text-decoration:none;
}

.btn {
	display: block; 
	width: 300px; 
	height: 120px;
}



#button_1 {
	margin: 0px 0px; 
	width: 300px; 
	height: 120px; 	
  background: url('/images/home_btn.png');
}
#button_1:hover {
	-webkit-transition-duration: .7s;
	-moz-transition-duration: .7s;
	transition-duration: .7s;
	background: url('/images/home_btnR.png');
}

#button_1:active {
	-webkit-transition-duration: .7s;
	-moz-transition-duration: .7s;
	transition-duration: .7s;
	background: url('/images/home_btnB.png');
}

#button_2 {
		margin: 0px 0px; 
		width: 300px; 
		height: 120px; 	
	  background: url('/images/about_btn.png');
	}
	#button_2:hover {
		-webkit-transition-duration: .7s;
		-moz-transition-duration: .7s;
		transition-duration: .7s;
		background: url('/images/about_btnR.png');
	}

	#button_2:active {
		-webkit-transition-duration: .7s;
		-moz-transition-duration: .7s;
		transition-duration: .7s;
		background: url('/images/about_btnB.png');
	}

#button_3 {
	margin: 10px 0px; 
  width: 251px; 
	height: 37px; 	
	background: url('/images/RCV_Btn-03_7.png');
	background-position: top;
	opacity:0.8;
}

#button_3:hover {
	background-position: bottom;
}

#button_3:active {
	opacity:1.0;
}

#button_4 {
	margin: 10px 0px; 
  width: 251px; 
	height: 37px; 	
	background: url('/images/RCV_Btn-04_7.png');
	opacity:0.8;
}

#button_4:hover {
	background-position: bottom;
}

#button_4:active {
	opacity:1.0;
}

#button_5 {
	margin: 10px 0px; 
  width: 251px; 
	height: 37px; 	
	background: url('/images/RCV_Btn-05_7.png');
	opacity:0.8;
}

#button_5:hover {
	background-position: bottom;
}

#button_5:active {
	opacity:1.0;
}


#button_6 {
	margin: 10px 0px; 
  width: 251px; 
	height: 37px; 	
	background: url('/images/RCV_Btn-06_7.png');
	opacity:0.8;
}

#button_6:hover {
	background-position: bottom;
}

#button_6:active {
	opacity:1.0;
}
.content{
	margin:80px 0px 0px 300px;
	min-width:800px;
	padding:0px 0px 30px 0px;
}

#youtube{
	display:inline-block; 
	vertical-align: top;
	margin:0px 43px 40px 5px;
}

#youtube_border{
	width:480px;
	height:295;
	background-color:rgba(255,255,255,.5);
	padding:7px 7px 3px 7px;
	border-radius: 2px;
}

#twitter{
	display:inline-block;
	vertical-align: top;
	margin: 0px 0px 0px 0px;
	width:250px;
}

#twitter_border{
	width:250px;
	height:360;
	background-color:rgba(255,255,255,.5);
	padding:6px;
	border-radius: 2px;
}

/*This is the code for index*/


.posters{
	margin:80px auto 0px auto; 
	padding:0px 0px 0px 312px;
}


.posters .thumb{
	padding:0px 30px 30px 0px;
	display:inline-block;
}


.outgoing{ 
	padding:0px 0px 0px 11px;
	width:600px;
	text-align:center;
}


.link{
		display: block; 
		width: 100%;  
		background: rgba(0, 0, 100, 0.7);
		padding: 7px 0px 7px 0px;   
		margin:10px 0px 10px 0px;
	}

.link:hover, .link:focus {
	background: rgba(100, 0, 0, 0.8);  
	}

.link:active {
 	-webkit-box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
	 -moz-box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
	 box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
}


.about{
	background: rgba(0,0,90, 0.1);  
	width: 483px;
	margin:0px 0px 100px 10px;
}

.p1 {
	font-size: 20px; 
	font-family: Arial, "Lucida Grande", sans-serif; 
	color:White; 
	margin: 0px 0px 0px 0px; 
	padding:0px 0px 0px 0px;
	letter-spacing: 1.5px;
	white-space:nowrap;
}

.p2 {
	font-size: .875em; 
	font-family: Arial, "Lucida Grande", sans-serif; 
	color:rgba(210,10,10, 0.8);
	margin: 0px 0px 0px 0px; 
	padding:11px 22px 0px 0px;
	letter-spacing: 1.5px;
	white-space:nowrap;
}


.p3 
{
	font-size: 200px; 
	font-family: Arial Black, "Lucida Grande", sans-serif; 
	color: rgba(238, 222, 204, 0.040);
	line-height:60%;
	letter-spacing: 1.5px;
	white-space:nowrap;
}

.p4_1 
{
	font-size: 10px; 
	font-family: Arial, "Lucida Grande", sans-serif;
	color: rgba(0,0,100,.9);
	margin: 0px 0px 0px 0px; 
	letter-spacing: 2px;
	line-height:17px;
	text-align:right
}

.p4_2
{
	font-size: 10px; 
	font-family: Arial, "Lucida Grande", sans-serif;
	color: rgba(200,0,0,1.0);
	margin: 0px 0px 0px 0px; 
	letter-spacing: 2px;
	line-height:17px;
}


.p5 
{
	font-size: 16px; 
	font-family: Arial, "Lucida Grande", sans-serif;
	color: rgba(250,250,250,.6); 
	letter-spacing: 4px;
	line-height:24px;
	padding: 10px 15px;
}




/*This is the code for red border: 
border-style:solid; 
border-color:red; 
border-width:1px;

/*This is the code for transitions: 
-webkit-transition-duration: 0.2s;
-moz-transition-duration: 0.2s;
transition-duration: 0.2s;


background-color:rgba(255,255,255, .4);
border-radius: 3px;
-moz-box-shadow: 0px 6px 6px rgba(0,0,0,0.3);
-webkit-box-shadow: 0px 6px 6px rgba(0,0,0,0.3);
box-shadow: 0px 6px 6px rgba(0,0,0,0.3);