html {
	height: 100%;
}

body {
background: url('/images/concrete_wall_2.png');
height: 100%;
}


a {
text-decoration:none;
}

#top{
	background: url('/images/cardborder.png');
	height: 10px;
	width:100%px;
}

#bar_1 {
	position:absolute;
	background-color:black;
	opacity:.15;
	height:137px;
	width:100%;
}


#bar_2 {
		margin: 137px 0px 0px 0px;
		position:absolute;
		background-color:black;
		opacity:.05;
		height:35px;
		width:100%;
	}


#stencil {
	background: url('/images/vote_background.png');
	width:791px;
	height:430px;
	position:absolute;
	top:10px;
	left:565px;
	z-index:-100;
}

#social {
	margin: 20px 0px 0px 50px;
	display:inline-block;
	vertical-align:top;
}

#megaphone {
	margin: 60px 0px 0px 0px;
	display:inline-block;
	vertical-align:top;
}


#lockup{	
	display:inline-block;
	margin: 20px 0px 0px 130px;
	padding:0px 0px 0px 0px;
	width:300px;
}


#wrapper {
	position:relative;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	width:1026px;
}



.title {
	margin:0px 0px 0px 284px;
}

#menu_wrapper {
	position:absolute;
	margin:0px 0px 0px 50px;
	top:198px;
	width:180px; 
}


.plain{
	width: 180px; 
	height: 64px;
	z-index:2;
}

.hover{
	width: 180px; 
	height: 64px;
	z-index:1;
}

#button_1 {
	position:relative;	
	margin: 10px 0px; 
	width: 180px; 
	height: 64px; 	
}

#button_1 img {
position:absolute;
left:0;
-webkit-transition: opacity .7s ease-in-out;
-moz-transition: opacity .7s ease-in-out;
-o-transition: opacity .7s ease-in-out;
transition: opacity .7s ease-in-out;
}

#button_1 img.plain:hover {
	opacity:0;
}

.content{
	display:inline-block;
	margin:0px 0px 0px 280px;
	padding:60px 0px 30px 0px;
}

#play_btn{
	width:110px;
	height: 110px;
	position:absolute;
	left:470px;
	top:360px;
	opacity: 0.9;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
}



#play_btn:hover{
	opacity: 1.0;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
}


#youtube{ 
	vertical-align: top;
	margin:0px 43px 10px 5px;
}



#youtube_border{
	width:640px;
	height:385;
	background-color:rgba(255,255,255,.5);
	padding:7px 7px 3px 7px;
	border-radius: 2px;
}

#twitter{
	display:inline-block;
	vertical-align: top;
	margin: 0px 0px 0px 0px;
	width:250px;
}

#twitter_border{
	width:250px;
	height:360;
	background-color:rgba(255,255,255,.5);
	padding:6px;
	border-radius: 2px;
}

#tweet{
	margin:0px;
	display:inline-block;
	padding: 2px 0px 0px 0px;

}

#facebook {
	display:inline-block;
	vertical-align: top;
	margin: 2px 5px 0px 10px;
}


.soc_links{
	display:inline-block;
}


/*This is the code for index*/


.posters{
	margin:80px auto 0px auto; 
	padding:0px 0px 0px 290px;
}


.posters .thumb{
	padding:5px 18px 6px 18px;
	display:inline-block;
}

.download{
	text-align:center;
	margin:5px 0px 20px 0px;
}

.outgoing{ 
	padding:0px 0px 0px 11px;
	width:600px;
	text-align:center;
}


.about{
	border-radius:2px;
	background: rgba(0,0,90, 0.2);  
	width: 483px;
	margin:0px 0px 15px 30px;
}


.link{
	background: url('/images/link_cardboard_1.jpg');
	width: 540px;
	height: 22px;
	padding: 8px 0px 6px 10px;
	margin: 0px 0px 14px 0px;
	border-radius:3px; 
	-moz-box-shadow: 2px 3px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 2px 3px 2px rgba(0,0,0,0.2);
	box-shadow: 2px 3px 2px rgba(0,0,0,0.2);
	-webkit-transition: box-shadow .4s ease-in-out;
	-moz-transition: box-shadow .4s ease-in-out;
	-o-transition: box-shadow .4s ease-in-out;
	transition: box-shadow .4s ease-in-out;
}

.link:hover{
	-moz-box-shadow: 2px 3px 4px rgba(0,0,0,0.4);
	-webkit-box-shadow: 2px 3px 4px rgba(0,0,0,0.4);
	box-shadow: 2px 3px 4px rgba(0,0,0,0.4);
	-webkit-transition: box-shadow .4s ease-in-out;
	-moz-transition: box-shadow .4s ease-in-out;
	-o-transition: box-shadow .4s ease-in-out;
	transition: box-shadow .4s ease-in-out;
}



.p1 {
	font-size: 20px; 
	font-family: Arial, "Lucida Grande", sans-serif; 
	color:#fffafa; 
	padding:0px 0px 0px 0px;
	letter-spacing: 1.5px;
	white-space:nowrap;
	-webkit-transition: color .4s ease-in-out;
	-moz-transition: color .4s ease-in-out;
	-o-transition: color .4s ease-in-out;
	transition: color .4s ease-in-out;
}

.p1:hover{
	opacity:0.9;
	color:#ff0000;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
	-webkit-transition: color .4s ease-in-out;
	-moz-transition: color .4s ease-in-out;
	-o-transition: color .4s ease-in-out;
	transition: color .4s ease-in-out;
}

.p2 {
	font-size: .875em; 
	font-family: Arial, "Lucida Grande", sans-serif; 
	color:rgba(2,2,75, 0.8);
	letter-spacing: 1.5px;
	white-space:nowrap;
}


.p3 
{
	font-size: 20px; 
	font-family: Arial Black, "Lucida Grande", sans-serif; 
	white-space:nowrap;
	color: rgba(250,250,250, 1.0); 
	letter-spacing: 2px;
	line-height:24px;
	padding: 14px 17px 2px 22px;
}

.p4_1 
{
	font-size: 10px; 
	font-family: Arial, "Lucida Grande", sans-serif;
	color: rgba(0,0,100,.9);
	margin: 0px 0px 0px 0px; 
	letter-spacing: 2px;
	line-height:17px;
	text-align:right
}

.p4_2
{
	font-size: 10px; 
	font-family: Arial, "Lucida Grande", sans-serif;
	color: rgba(200,0,0,1.0);
	margin: 0px 0px 0px 0px; 
	letter-spacing: 2px;
	line-height:17px;
}


.p5 
{
	font-size: 14px; 
	font-family: Arial, "Lucida Grande", sans-serif;
	color: rgba(250,250,250, 1.0); 
	letter-spacing: 1px;
	line-height:18px;
	padding: 2px 17px 14px 22px;
}




/*This is the code for red border: 
border-style:solid; 
border-color:red; 
border-width:1px;

/*This is the code for transitions: 
-webkit-transition-duration: 0.2s;
-moz-transition-duration: 0.2s;
transition-duration: 0.2s;


background-color:rgba(255,255,255, .4);
border-radius: 3px;
-moz-box-shadow: 0px 6px 6px rgba(0,0,0,0.3);
-webkit-box-shadow: 0px 6px 6px rgba(0,0,0,0.3);
box-shadow: 0px 6px 6px rgba(0,0,0,0.3);